$bg-color: #f8e3b944;
$base-color: #89421A;

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.netflixintro {
  display: block;
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
  animation-name: zoom-in;
  animation-delay: 0.5s;
  animation-duration: 3.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  background-size: 4000px;
  background-position: -1950px 0;
  
  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: $bg-color;
    width: 150%;
    height: 30%;
    left: -25%;
    bottom: -27%;
    border-radius: 50%;
    z-index: 5;
    transform-origin: left center;
    background-size: 4000px;
    background-position: -1950px 0;
  }

  &[letter="X"] {
    transform-origin: center center;
    
    .helper-1 {
      width: 19%;
      height: 150%;
      left: 40.5%;
      top: -25%;
      transform: rotate(-19.5deg);
      animation-name: fading-lumieres-box;
      animation-duration: 2s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
        
        [class*="fur-"] {
          bottom: 0;
          height: 40%;
        }
      }
    }
    
    .helper-2 {
      width: 19%;
      height: 150%;
      left: 40.5%;
      top: -25%;
      transform: rotate(19.5deg);
      overflow: hidden;
      
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
      }
    }
  }

  [class*="helper-"] {
    position: absolute;
    
    .effect-brush {
      position: absolute;
      width: 100%;
      height: 300%;
      top: 0;
      overflow: hidden;
      
      &::before {
        display: block;
        content: "";
        position: absolute;
        background-color: $base-color;
        width: 100%;
        height: 70%;
        box-shadow: 0px 0px 29px 24px $base-color;
      }
      
      [class*="fur-"] {
        display: block;
        position: absolute;
        bottom: 10%;
        height: 30%;
      }

      .fur-1 {
        left: 0%;
        width: 3.8%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 15%, rgba(0, 0, 0, 0) 81%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-2 {
        left: 3.8%;
        width: 2.8%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 10%, rgba(0, 0, 0, 0) 62%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-3 {
        left: 6.6%;
        width: 4.8%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 37%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-4 {
        left: 11.4%;
        width: 4%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 23%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-5 {
        left: 15.4%;
        width: 4%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 15%, rgba(0, 0, 0, 0) 86%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-6 {
        left: 19.4%;
        width: 2.5%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 27%, rgba(0, 0, 0, 0) 89%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-7 {
        left: 21.9%;
        width: 4%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 20%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-8 {
        left: 25.9%;
        width: 2%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 30%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-9 {
        left: 27.9%;
        width: 4%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 35%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-10 {
        left: 31.9%;
        width: 3.5%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 39%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-11 {
        left: 35.4%;
        width: 2%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 34%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-12 {
        left: 37.4%;
        width: 2.6%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 22%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-13 {
        left: 40%;
        width: 6%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 47%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-14 {
        left: 46%;
        width: 2%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 36%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-15 {
        left: 48%;
        width: 5.5%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 29%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-16 {
        left: 53.5%;
        width: 3%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 39%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-17 {
        left: 56.5%;
        width: 4.1%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 45%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-18 {
        left: 60.6%;
        width: 2.4%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 34%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-19 {
        left: 63%;
        width: 4%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 47%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-20 {
        left: 67%;
        width: 1.5%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 27%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-21 {
        left: 68.5%;
        width: 2.8%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 37%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-22 {
        left: 71.3%;
        width: 2.3%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 9%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-23 {
        left: 73.6%;
        width: 2.2%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 28%, rgba(0, 0, 0, 0) 92%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-24 {
        left: 75.8%;
        width: 1%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 37%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-25 {
        left: 76.8%;
        width: 2.1%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 28%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-26 {
        left: 78.9%;
        width: 4.1%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 34%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-27 {
        left: 83%;
        width: 2.5%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 21%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-28 {
        left: 85.5%;
        width: 4.5%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 39%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-29 {
        left: 90%;
        width: 2.8%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 30%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-30 {
        left: 92.8%;
        width: 3.5%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 19%, rgba(0, 0, 0, 0) 100%);
      }
      .fur-31 {
        left: 96.3%;
        width: 3.7%;
        background: linear-gradient(to bottom, $base-color 0%, $base-color 37%, rgba(0, 0, 0, 0) 100%);
      }
    }

    .effect-lumieres {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      animation-name: showing-lumieres;
      animation-duration: 2s;
      animation-delay: 1.6s;
      animation-fill-mode: forwards;

      [class*="lamp-"] {
        position: absolute;
        display: block;
        height: 100%;
        box-shadow: 0px 0px 10px 0px rgba($base-color, 0.75);
        background: var(--color);

        &::before {
          position: absolute;
          content: " ";
          display: block;
          width: 100%;
          height: 100%;
          background: var(--color);
          box-shadow: 0px 0px 10px 0px rgba($base-color, 0.75);
        }
      }

      // Colores adaptados a la paleta de Copa Desierto
      .lamp-1 {
        --color: #c13a21;
        left: 0.7%;
        width: 1%;
        animation-delay: 0.41s;
        &::before {
          left: 70%;
          animation-delay: 0.7s;
        }
      }
      .lamp-2 {
        --color: #f8e3b9;
        left: 2.2%;
        width: 1.4%;
        animation-delay: 0.73s;
        &::before {
          left: 33%;
          animation-delay: 0.22s;
        }
      }
      .lamp-3 {
        --color: #e67e22;
        left: 5.8%;
        width: 2.1%;
        animation-delay: 0.43s;
        &::before {
          left: 88%;
          animation-delay: 0.73s;
        }
      }
      .lamp-4 {
        --color: #d35400;
        left: 10.1%;
        width: 2%;
        animation-delay: 0.22s;
        &::before {
          left: 28%;
          animation-delay: 0.44s;
        }
      }
      .lamp-5 {
        --color: #c13a21;
        left: 12.9%;
        width: 1.4%;
        animation-delay: 0.68s;
        &::before {
          left: 34%;
          animation-delay: 0.11s;
        }
      }
      .lamp-6 {
        --color: #f39c12;
        left: 15.3%;
        width: 2.8%;
        animation-delay: 0.83s;
        &::before {
          left: 57%;
          animation-delay: 0.29s;
        }
      }
      .lamp-7 {
        --color: #e67e22;
        left: 21.2%;
        width: 2.5%;
        animation-delay: 0.42s;
        &::before {
          left: 123%;
          animation-delay: 0.65s;
        }
      }
      .lamp-8 {
        --color: #c13a21;
        left: 25%;
        width: 2.5%;
        animation-delay: 0.32s;
        &::before {
          left: 97%;
          animation-delay: 0.57s;
        }
      }
      .lamp-9 {
        --color: #f39c12;
        left: 30.5%;
        width: 3%;
        animation-delay: 0.77s;
        &::before {
          left: 176%;
          animation-delay: 0.32s;
        }
      }
      .lamp-10 {
        --color: #c13a21;
        left: 36.3%;
        width: 3%;
        animation-delay: 0.41s;
        &::before {
          left: 52%;
          animation-delay: 0.9s;
        }
      }
      .lamp-11 {
        --color: #c13a21;
        left: 41%;
        width: 2.2%;
        animation-delay: 0.92s;
        &::before {
          left: 132%;
          animation-delay: 0.32s;
        }
      }
      .lamp-12 {
        --color: #f8e3b9;
        left: 44.2%;
        width: 2.6%;
        animation-delay: 0.21s;
        &::before {
          left: 67%;
          animation-delay: 0.6s;
        }
      }
      .lamp-13 {
        --color: #f39c12;
        left: 51.7%;
        width: 0.5%;
        animation-delay: 0.89s;
        &::before {
          left: 83%;
          animation-delay: 0.35s;
        }
      }
      .lamp-14 {
        --color: #f39c12;
        left: 52.1%;
        width: 1.8%;
        animation-delay: 0.55s;
        &::before {
          left: 42%;
          animation-delay: 0.92s;
        }
      }
      .lamp-15 {
        --color: #e67e22;
        left: 53.8%;
        width: 2.3%;
        animation-delay: 0.32s;
        &::before {
          left: 128%;
          animation-delay: 0.75s;
        }
      }
      .lamp-16 {
        --color: #e67e22;
        left: 57.2%;
        width: 2%;
        animation-delay: 0.77s;
        &::before {
          left: 64%;
          animation-delay: 0.39s;
        }
      }
      .lamp-17 {
        --color: #f39c12;
        left: 62.3%;
        width: 2.9%;
        animation-delay: 0.33s;
        &::before {
          left: 88%;
          animation-delay: 0.66s;
        }
      }
      .lamp-18 {
        --color: #c13a21;
        left: 65.8%;
        width: 1.7%;
        animation-delay: 0.9s;
        &::before {
          left: 75%;
          animation-delay: 0.22s;
        }
      }
      .lamp-19 {
        --color: #e67e22;
        left: 72.8%;
        width: 0.8%;
        animation-delay: 0.55s;
        &::before {
          left: 33%;
          animation-delay: 0.77s;
        }
      }
      .lamp-20 {
        --color: #c13a21;
        left: 74.3%;
        width: 2%;
        animation-delay: 0.88s;
        &::before {
          left: 27%;
          animation-delay: 0.47s;
        }
      }
      .lamp-21 {
        --color: #c13a21;
        left: 79.8%;
        width: 2%;
        animation-delay: 0.33s;
        &::before {
          left: 22%;
          animation-delay: 0.45s;
        }
      }
      .lamp-22 {
        --color: #d35400;
        left: 78.2%;
        width: 2%;
        animation-delay: 0.41s;
        &::before {
          left: 96%;
          animation-delay: 0.65s;
        }
      }
      .lamp-23 {
        --color: #f8e3b9;
        left: 78.5%;
        width: 2%;
        animation-delay: 0.71s;
        &::before {
          left: 75%;
          animation-delay: 0.34s;
        }
      }
      .lamp-24 {
        --color: #e67e22;
        left: 85.3%;
        width: 1.1%;
        animation-delay: 0.48s;
        &::before {
          left: 42%;
          animation-delay: 0.92s;
        }
      }
      .lamp-25 {
        --color: #c13a21;
        left: 86.9%;
        width: 1.1%;
        animation-delay: 0.91s;
        &::before {
          left: 77%;
          animation-delay: 0.31s;
        }
      }
      .lamp-26 {
        --color: #e67e22;
        left: 88.8%;
        width: 2%;
        animation-delay: 0.52s;
        &::before {
          left: 68%;
          animation-delay: 0.88s;
        }
      }
      .lamp-27 {
        --color: #c13a21;
        left: 92.4%;
        width: 2.4%;
        animation-delay: 0.76s;
        &::before {
          left: 42%;
          animation-delay: 0.21s;
        }
      }
      .lamp-28 {
        --color: #d35400;
        left: 96.2%;
        width: 2.1%;
        animation-delay: 0.38s;
        &::before {
          left: 69%;
          animation-delay: 0.94s;
        }
      }

      .lamp-1,
      .lamp-3,
      .lamp-5,
      .lamp-7,
      .lamp-9,
      .lamp-11,
      .lamp-13,
      .lamp-15,
      .lamp-17,
      .lamp-19,
      .lamp-21,
      .lamp-23,
      .lamp-25,
      .lamp-27 {
        animation-name: lumieres-moving-left;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        &::before {
          animation-name: lumieres-moving-left;
          animation-duration: 5.5s;
        }
      }
      
      .lamp-2,
      .lamp-4,
      .lamp-6,
      .lamp-8,
      .lamp-10,
      .lamp-12,
      .lamp-14,
      .lamp-16,
      .lamp-18,
      .lamp-20,
      .lamp-22,
      .lamp-24,
      .lamp-26,
      .lamp-28 {
        animation-name: lumieres-moving-right;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        &::before {
          animation-name: lumieres-moving-right;
          animation-duration: 5.5s;
        }
      }
    }
  }
}

@keyframes brush-moving {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes fading-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lumieres-moving-right {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translate(-10px) scaleX(1);
  }
  50% {
    transform: translate(-60px);
  }
  100% {
    transform: translate(-120px) scaleX(3);
  }
}

@keyframes lumieres-moving-left {
  0% {
    transform: translate(0);
  }
  40% {
    transform: translate(10px) scaleX(1);
  }
  50% {
    transform: translate(60px);
  }
  100% {
    transform: translate(120px) scaleX(3);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(15);
  }
}

@keyframes showing-lumieres {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fading-lumieres-box {
  0% {
    background-color: rgba($base-color, 0.5);
  }
  100% {
    background-color: rgba($base-color, 0);
  }
}
